

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,900&family=Oswald:wght@300;600;700&display=swap');

 body{
  background-color: #EBE7D6;
}

a {text-decoration:none; color: white;}


h1{
    font-family:'Oswald', sans-serif;
    font-weight: 600;
    font-size: 66px;
    text-transform: uppercase;
    text-align: center;
    color: #EBE7D6;
}

h4{
 font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
  font-weight: 400;
  font-size: 70px;
  color: #E97E2D;
}

nav{ background-color: #1F4982;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
}

ul{font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
  }

 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
 }

.imagenes{ 
margin-top: 150px;
display: flex;
justify-content: space-around;
flex-flow: row;
margin-bottom: 20px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 18px;
}

.compra{
  border-style: outset;
  border-color: #E97E2D;
  background-color: #1F4982;
  padding-left: 5px;
  padding-right: 5px;
}

.conoce{
  border-style: outset;
  border-color: #E97E2D;
  background-color: #1F4982;
  padding-left: 5px;
  padding-right: 5px;
}

.reserva{
  border-style: outset;
  border-color: #E97E2D;
  background-color: #1F4982;
  padding-left: 5px;
  padding-right: 5px;
}

.botones{ 
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row;
}

.recetas{
  margin-top: 150px;
  background-color: #E97E2D;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

article{
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 7%;
  display: flex;
}

.burga{
  width: 100%;
  border: 5px solid #E97E2D;
}

.videos{
  flex: 25%;
  padding-right: 2%;
  padding-left: 2%;
  justify-content: flex-end;
  flex-flow: row;
}

.texto{ 
  flex: 75%;
  padding-left: 5px;
  padding-right: 2%;
  width: 50%;
  text-align: left;
 }


footer{
  background-color: #1F4982;
  position: static;
  bottom: 0;
  width: 100%;
  height: auto;
  align-items: center;
  
}
.iconos{
  display: flex;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

 .mail{
  display: inline-block;
  align-items: center;
  width: 33%;
 }

 h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    list-style-type: none;
 }